.categoryElem{

        height: 20%;
        color: black;

        &:hover{
                background-color: #F7F9F9;
                text-decoration: none;
                border: 1px solid orangered;
                border-left: 0
        }

}

.active{
        background-color: white;
        border-right: 0;
}