.categoryElem{

        color: black;
        font-weight: bold;
        background-image: url(../../../images/clean_textile.png);
        height: 16.66%;
        width: 100%;
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;
        
        &:hover{
                border-right: 2px solid green;
                color: green;
        }

        @media only screen and (max-width: 768px){
                line-height: 90%;
                width: 50%;
                height: 60px;
                font-weight: 100;
                padding-top: 5px;
        }

}

.active{
        border-right: 2px solid green;
        @media only screen and (max-width: 768px){
                color: green;
                        border-right: 1px solid lightgray;
                &:hover{
                        border-right: 1px solid lightgray;

                }
        }
}