.adress{

    border: 1px solid lightgray;
    cursor: pointer;

    &:hover{
        border: 1px solid black;
        transition: all 0.3s;
    }

}
.active{
    border: 1px solid black;
    cursor: inherit;
}

.address{
    margin-bottom: 20px;
}

.userInfo{
    padding-left: 5px;
}

.editUserWrapper{
    text-align: center;
}

.editUserButton{
   width: 40%;
}

.editUserButton:first-child{
   margin-right: 20px;
 }

 .addressInfo{
    padding-left: 5px;
    margin-bottom: 7px;
}