.adress{

    border: 1px solid lightgray;
    cursor: pointer;

    &:hover{
        border: 1px solid black;
        transition: all 0.3s;
    }

}
.active{
    border: 1px solid black;
    cursor: inherit;
}
