.signedIn{

    div{
        &:hover{
            cursor: pointer;
            background-color: rgb(226, 226, 226);
        }
    }

    @media only screen and (max-width: 890px){
        width: 50%;
    }

}