.product{
    min-height: 240px;
    margin: 1.5%;
    border: 1px solid lightgray;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.14);
    border-radius: 0;
    &:hover{
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.20), 0 1px 5px rgba(0, 0, 0, 0.24);
    }

    li{
        padding: 0;
    }
    button{
        font-size: 0.7rem;
        width: 75%;
        margin-right: 3%;
        padding-left: 0;
        padding-right: 0;
    }
    img{
        height: 150px
    }

    
    @media only screen and (max-width: 992px){
        width: 24%!important;
        margin-left: 0;
        margin-right: 1%;
        min-height: 0px;
        p{
            height: none;
        }
        img{
            height: 100px
        }
    }
    @media only screen and (max-width: 767px){
        width: 32%!important;
        margin-left: 0;
        margin-right: 1%;
        min-height: 0px;
        p{
            height: none;
        }
        img{
            height: 100px
        }
    }

    @media only screen and (max-width: 440px){
        width: 49%!important;
        margin-left: 0;
        margin-right: 1%;
        min-height: 0px;
        p{
            height: none;
        }
        img{
            height: 100px
        }
    }
}

.numberInput{
    width: 20%;
    border: 1px solid #28a74670;
    color: gray;
    height: 29px;
}

.photoContainer{
    height: 150px;
    @media only screen and (max-width: 580px){
        height: 100px
    }
}
.title{
    height: 50px
}