
.header {
    background: transparent;
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    min-height: 58px;
}
.banner{
    color: green;
    padding-left: 50px;
    i{
        font-size: 3.0rem!important;
        color: green;
        padding-right: 15px
    }

    p{
        font-size: 2.0rem;
        color: green;
    }
}
.koszyk{
    // background-color: rgb(232, 255, 195);
    min-height: 58px;
    border-left: 2px solid green;

    &:first-child{
        background-color: red;
        &:hover{
            background-color: red;
        }
    }

    span{
        color: green;
    }
    div{
        font-size: 1.0rem;
        padding-top: 10px;
    }

}