.sideBar{

    // background-color: #E8F6F3;
    background-color: cornsilk;
    overflow: hidden;
    position: fixed;
    top: 58px;
    height: 94%;

    color: lightyellow;
    // text-shadow: 0 0 3px #000;
}