.homeContent{
    
    // border-bottom: 1px solid #008000;
    // font-style: normal;
    font-family: 'Titan One';
    font-weight: 400;
    img{
        width: 15%
    }
}

.icon{
    span{
        font-size: 98px;
        
    }
}

.card{
    div{

        height: 450px;
    }
}