.homeContent{
    
    // border-bottom: 1px solid #008000;
    // font-style: normal;
    font-family: 'Titan One';
    font-weight: 400;
    img{
        width: 15%
    }

    @media only screen and (max-width: 580px){

        img{
            width: 80%
        }
        
    }
}

.icon{
    @media only screen and (max-width: 768px){
        img{
            width:10%;
            position: absolute;
            top: 0;
        }
    }
    svg{
        transform: scale(5);
    }
}

.card{
    div{

        height: 450px;
    }
}