.cartModal{
    width: 33.3333333%;
    position: absolute;
    right: 0;
    top: 58px;
    z-index: 100;

    height: 600px;

    border: 1px solid green;
    background-color: #F7F9F9;
}

.photoContainer{
    width: 50px;
    height: 50px;
}