.cartModal{
    width: 33.3333333%;
    position: absolute;
    right: 0;
    top: 58px;
    z-index: 100;
    font-size: small;

    max-height: 90%;
    overflow: auto;

    // height: 600px;

    border: 1px solid green;
    background-color: #F7F9F9;

    i{
        cursor: pointer;
    }
    
    
    @media only screen and (max-width: 890px){
        width: 75%;
    }
    
    @media only screen and (max-width: 767px){
        width: 100%;
        top: 49px;
        border-top: 1px;
    }
}

.photoContainer{
    width: 50px;
}

.productRow{
    min-height: 50px;
}