.col{
        // height: 450px;
        @media only screen and (max-width: 992px){
            padding-bottom: 3rem;
            padding-left: 0;
            padding-right: 0;
        }
    }
.card{
    height: 100%;

}
.circle{
    height: 100px;
    width: 100px;
}
.p{
    // font-family: lato;
    font-weight: 100;
}