.createAccount{
    font-family: 'Titan One';
    margin-top: 10%;
    margin-bottom: 10%;
}
.introduce{
    // height: 500px;
    background-color: black;
    border-radius: 40px;
    color: green;
    img{
        width: 100%;
    }
    p{
        font-family: 'Ubuntu';
        font-weight: 600;
    }

}
.form{
    padding-left: 7%;
    padding-right: 0;
    font-family: 'Ubuntu';
    div{
        text-align: left;
    }
    input{
        width: 100%;
    }
    button{
        font-family: 'Arial';
    }
    @media only screen and (max-width: 580px){
        padding-left: 0px!important;
        padding-top: 0px!important;
    }
}